.ontario-fact-block__container {
    @extend .infographics__container;
}

.ontario-fact-block__item  {
    padding: 0 $ontario-infographic-component-padding--small calc(#{$ontario-standard-component-padding} * 2) $ontario-infographic-component-padding--small;
    margin-bottom: $ontario-infographic-component-padding--small;
}

.ontario-fact-block__heading {
    background: $ontario-infographics-light-blue-bg;
}

.ontario-fact-block__fact-number {
    font-family: Raleway,Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 4.5rem;
    margin: 0 20%;

    /* media queries */
    @media #{$small-only} {
        font-size: 3.2rem;
    }
}
