/* -----------------------------------------------------------------------------

  Please see /standards/architecture.md for standards on how to write CSS for
  this project.

----------------------------------------------------------------------------- */
$fontDir: '../fonts' !default;
$assetsDir: '../assets' !default;

@import 'node_modules/foundation-sites/scss/foundation';

@import "./1-settings/_foundation.settings";
@import "./1-settings/_colours.global";

@import "./2-tools/_foundation.includes";
@import "./2-tools/_mixins.global";

@import "./3-generics/_fonts";

@import "./4-elements/_elements";
@import "./4-elements/lists";

@import "./5-objects/_icons";
@import "./5-objects/_layout";
@import "./5-objects/_visibility";

@import "./6-components/_header.main";
@import "./6-components/_footer.main";

.ods-button {
  @extend .button;
}

.ods-list--no-bullet {
  list-style: none;
  margin-left: 0;
}

.ods-list--inline {
  li {
    display: inline;
    margin-right: 1.25rem;
  }
}



.ods-margin--top-double {
  margin-top: 2rem;
}
