/* -----------------------------------------------------------------------------

  Please see /standards/architecture.md for standards on how to write CSS for
  this project.

----------------------------------------------------------------------------- */
$fontDir: '../fonts' !default;
$assetsDir: '../assets' !default;

@import 'node_modules/foundation-sites/scss/foundation';

@import "./1-settings/foundation.settings";
@import "./1-settings/colours.global";
@import "./1-settings/spacing.global";

@import "./2-tools/foundation.includes";
@import "./2-tools/mixins.global";

@import "./3-generics/fonts";

@import "./4-elements/elements";

@import "./5-objects/icons";
@import "./5-objects/layout";
@import "./5-objects/visibility";

@import "./6-components/header.main";
@import "./6-components/footer.main";
@import "./6-components/button";
@import "./6-components/panel";
@import "./6-components/labels";
@import "./6-components/tables";
@import "./6-components/form";
@import "./6-components/form-label";
@import "./6-components/form-input";
@import "./6-components/form-select";
@import "./6-components/form-textarea";
@import "./6-components/form-fieldset";

.ods-button {
  @extend .button;
}

@import "./7-overrides/layout.float";

.ods-list--no-bullet {
  list-style: none;
  margin-left: 0;
}

.ods-list--inline {
  li {
    display: inline;
    margin-right: 1rem;
  }
}

.ods-margin--top-double {
  margin-top: 2rem;
}

.ods-padding--bottom-double {
  padding-bottom: 2rem;
}
