.ontario-main-footer {
  background: $ontario-footer-bg;
  margin-top: 1rem;
  padding: 2rem 0 1.5rem;
  border-top: 1px solid $ontario-footer-border-color;
  a {
    color: $ontario-font-color;
  }
}

.ontario-main-footer .grid-container {
  padding: 0;
}

.ontario-main-footer__topic-links-list {
  li {
    line-height: 1.5rem;
    margin-bottom: 0.625rem;
  }
}

.ontario-main-footer__topic-link {
  line-height: 1.5rem;
}

.ontario-main-footer__ministry-photo {
  width: 135px;
  height: 135px;
  border-radius: 50%;
}

.ontario-main-footer__ministry-subheading {
  @extend h3;
  color: $body-font-color;
}

.ontario-main-footer__subheading {
  @extend h4;
  color: $body-font-color;
}

.ontario-main-footer__notice-links {
  font-size: $small-font-size;
}
