.ods-form-fieldset {
    background: $ods-form-fieldset-bg;
    border: 1px solid $ods-form-input-border-color;
}

.ods-form-fieldset legend {
    color: $ods-form-label-font-color;
    font-weight: 700;
}
