/* -------------------------------
    Header Variables
--------------------------------- */

$ontario-header-bg: #333;


/* -------------------------------
    Header Classes
--------------------------------- */


.ontario-main-header {
  background: $ontario-header-bg;
  padding-top: 1rem;
  color: white;
  margin-bottom: 1.5rem;
}

.ontario-main-header__logo-image {
  margin: 0 1.25rem 1.25rem 0;
  display: block;
  width: 153.983px;

  @media #{$small-only} {
    .header-logo {
      margin: 0 1rem 1rem 0.0625rem;
      width: 126.34px;
    }
  }
}

.ontario-main-header__search {
  padding: 0 0.5rem; // @todo - move this somewhere into a var
}

.ontario-main-search__text-entry {
  outline-offset: 0;
}

.ontario-site-nav__nav-toggle {
  color: #fff;

  margin: 0 0 0 1.5rem;
  border: 0;
  text-transform: uppercase;
}

.ontario-main-header .ontario-site-nav__nav-toggle {
  padding: .2rem .7rem;
  line-height: 2rem;
  box-shadow: none;
}

.ontario-site-nav__translation-link {
  font-size: $small-font-size;
  color: white;
  padding-top: 0.5rem;
  line-height: 1.5;
  &:hover {
    color: white;
  }
}

.ontario-main-header__logo-icon {
  font-size: 2.7rem;
  color: white;
  margin-top: -0.4rem;
  display: block;
}

.ontario-site-nav__dropdown-pane {
  color: $body-font-color;
  font-size: 0.875rem;
  padding: 1.25rem;
  width: rem-calc(250);
  background: white;
  box-shadow: 0 1px 3px $ontario-medium-gray;

  &:before, &:after {
    left: auto;
    position: absolute;
    right: 31px;
    content: "";
    display: block;
    width: 0;
    height: 0;
  }
  &:before {
    border: 6px inset;
    border-color: transparent transparent #fff;
    border-style: solid;
    top: -12px;
    z-index: 89;
  }
  &:after {
    top: -14px;
    border: 7px inset;
    border-color: transparent transparent #ccc;
    border-style: solid;
    z-index: 88;
  }
}

.ontario-site-nav__dropdown-links {
  padding: 0.5rem;
  line-height: 1.15rem;
}
