/* --------------------------------
    Infographic Variables
----------------------------------- */
$ontario-infographic-component-padding--large: .75rem;
$ontario-infographic-component-padding--medium: .375rem;
$ontario-infographic-component-padding--small: .625rem;

$ontario-infographics-timeline-line-bg: #d7e4ed;
$ontario-infographics-timeline-light-blue: #dff3f3;
$ontario-infographics-light-blue-bg: #d1ddeb;
$ontario-infographics-blue-bg: #0087cb;
$ontario-infographics-light-green-bg: #ddebd1;
$ontario-infographics-medium-green-bg: rgb(123, 157, 0);
$ontario-infographics-dark-green-bg: rgb(57, 130, 119);
$ontario-infographics-light-magenta-bg: #ebd1ea;
$ontario-infographics-magenta-bg: rgb(156, 15, 95);
$ontario-infographics-light-yellow-bg: #fafad2;
$ontario-infographics-yellow-bg: rgb(255, 195, 0);
$ontario-infographics-red-bg: rgb(201, 27, 38);
$ontario-infographics-light-orange-bg: #fae6d2;
$ontario-infographics-aqua-bg: #d2fafa;


/* -------------------------------
    Infographic Imports
--------------------------------- */

@import "./infographics/infographics.general";
@import "./infographics/infographics.fact-blocks";
@import "./infographics/infographics.smarties";
@import "./infographics/infographics.speech-bubble";
@import "./infographics/infographics.skittles";
@import "./infographics/infographics.timeline";
