/* -------------------------------
    Label Variables
--------------------------------- */

$ontario-label-default-bg: $ontario-lightest-gray;
$ontario-label-status-updated-bg: #fafad2;
$ontario-label-status-open-bg: #e6fad2;
$ontario-label-status-closed-bg: #fad2d2;
$ontario-label-status-under-review-bg: #d2d1eb;
$ontario-label-status-upcoming-bg: #dff3f3;
$ontario-label-status-complete-bg: #006b3f;
$ontario-label-status-implementing-bg: #8138b3;
$ontario-label-status-inactive-bg: $ontario-medium-gray;
$ontario-label-status-alert-bg: #c91b26;



/* -------------------------------
    Label Classes
--------------------------------- */

.ontario-label {
    background: $ontario-label-default-bg;
    border-radius: 3px;
    display: inline-block;
    font-size: .9375rem;
    line-height: 1;
    margin: 0 .3125rem .3125rem 0;
    padding: .25rem .5rem;
    text-align: center;
    white-space: nowrap;
}

.ontario-label--status-updated {
    @include ontario-label-color($ontario-label-status-updated-bg, $ontario-font-color-medium);
}

.ontario-label--status-open {
    @include ontario-label-color($ontario-label-status-open-bg, $ontario-font-color-medium);
}

.ontario-label--status-closed {
    @include ontario-label-color($ontario-label-status-closed-bg, $ontario-font-color-medium);
}

.ontario-label--status-under-review {
    @include ontario-label-color($ontario-label-status-under-review-bg, $ontario-font-color-medium);
}

.ontario-label--status-upcoming {
    @include ontario-label-color($ontario-label-status-upcoming-bg, $ontario-font-color-medium);
}

.ontario-label--status-complete {
    @include ontario-label-color($ontario-label-status-complete-bg, $ontario-font-color-light);
}

.ontario-label--status-implementing {
    @include ontario-label-color($ontario-label-status-implementing-bg, $ontario-font-color-light);
}

.ontario-label--status-inactive {
    @include ontario-label-color($ontario-label-status-inactive-bg, $ontario-font-color-light);
}

.ontario-label--status-alert {
    @include ontario-label-color($ontario-label-status-alert-bg, $ontario-font-color-light);
}
