/* -------------------------------
    Panel Variables
--------------------------------- */

$ontario-panel-aside-bg: #f5f5f5;
$ontario-panel-callout-bg: #dff3f3;
$ontario-panel-warning-bg: #fafad2;
$ontario-panel-success-bg: #e6fad2;
$ontario-panel-error-bg: #fad2d2;
$ontario-panel-dark-bg: $ontario-dark-gray;
$ontario-panel-dark-font-color: $ontario-white;
$ontario-panel-dark-link-color: #d1ddeb;


/* -------------------------------
    Panel Classes
--------------------------------- */

.ontario-panel {
    border-color: $ontario-gray-10;
    border-style: solid;
    border-width: 0 0 0 $ontario-standard-component-padding;
    color: $ontario-font-color-dark;
    display: block;
    margin-bottom: 1.25rem;
    padding: $ontario-standard-component-padding;
    padding-right: 2.5rem;
    position: relative;
}

.ontario-panel p:last-child {
    margin: 0;
}

.ontario-panel__close-button {
    font-size: rem-calc($ontario-standard-component-padding * 2);
    line-height: 1;
    position: absolute;
    right: $ontario-standard-component-padding;
    top: 10%;
}

.ontario-panel__image {
    margin: 0 0 1em 1.5em;
}

/*
    This targets an error panel/message for a required input field.
    This is to allow for a smaller panel to display error messages
    in forms. 
*/
input:required + .ontario-panel--error,
textarea:required + .ontario-panel-error,
fieldset:required + .ontario-panel-error,
select:required + .ontario-panel-error {
    padding: .375rem;
}

/* Panel color variations */
.ontario-panel--aside {
    background: $ontario-panel-aside-bg;
}

.ontario-panel--callout {
    background: $ontario-panel-callout-bg;
}

.ontario-panel--dark {
    background: $ontario-panel-dark-bg;
    color: $ontario-panel-dark-font-color;
}

.ontario-panel--dark abbr,
.ontario-panel--dark abbr[title] {
    border-bottom: 2px dotted $ontario-panel-dark-link-color;
}

.ontario-panel--dark a,
.ontario-panel--dark > abbr,
.ontario-panel--dark >  abbr[title] {
    color: $ontario-panel-dark-link-color;
    text-decoration: underline;

    &:hover,
    &:focus {
        color: $ontario-panel-dark-font-color;
    }
}

.ontario-panel--error {
    background: $ontario-panel-error-bg;
}

.ontario-panel--success {
    background: $ontario-panel-success-bg;
}

.ontario-panel--warning {
    background: $ontario-panel-warning-bg;
}
