/* -------------------------------
    Custom Onesite Icon Font
--------------------------------- */

.ontario-icon {
  font-family: 'onesite' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ontario-icon--size-medium {
  font-size: 1.2rem;
}

.ontario-icon--menu:before {
  content: "\e970";
}

.ontario-icon-contactLong:before {
  content: "\e922";
}
