/* -------------------------------
    Margins - regular
--------------------------------- */

.ontario-margin {
  margin: 1rem;
}

.ontario-margin--top {
  margin-top: 1rem;
}

.ontario-margin--bottom {
  margin-bottom: 1rem;
}

/* -------------------------------
    Margins - double
--------------------------------- */

.ontario-margin--double {
  margin: 2rem;
}

.ontario-margin--top-double {
  margin-top: 2rem;
}

.ontario-margin--bottom-double {
  margin-bottom: 2rem;
}

/* -------------------------------
    Padding - regular
--------------------------------- */

.ontario-padding {
  padding: 1rem;
}

.ontario-padding--top {
  padding-top: 1rem;
}

.ontario-padding--bottom {
  padding-bottom: 1rem;
}

/* -------------------------------
    Padding - double
--------------------------------- */

.ontario-padding--double {
  padding: 2rem;
}

.ontario-padding--top-double {
  padding-top: 2rem;
}

.ontario-padding--bottom-double {
  padding-bottom: 2rem;
}
