/* -------------------------------
    Custom Font families
--------------------------------- */
$body-font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-font-family: "Rawline", "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url('#{$fontDir}/Open-Sans-regular/Open-Sans-regular.eot');
  src: url('#{$fontDir}/Open-Sans-regular/Open-Sans-regular.eot?#iefix') format('embedded-opentype'),
    local('Open Sans'),
    local('Open-Sans-regular'),
    url('#{$fontDir}/Open-Sans-regular/Open-Sans-regular.woff2') format('woff2'),
    url('#{$fontDir}/Open-Sans-regular/Open-Sans-regular.woff') format('woff'),
    url('#{$fontDir}/Open-Sans-regular/Open-Sans-regular.ttf') format('truetype'),
    url('#{$fontDir}/Open-Sans-regular/Open-Sans-regular.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  src: url('#{$fontDir}/Open-Sans-600/Open-Sans-600.eot');
  src: url('#{$fontDir}/Open-Sans-600/Open-Sans-600.eot?#iefix') format('embedded-opentype'),
    local('Open Sans Semibold'),
    local('Open-Sans-600'),
    url('#{$fontDir}/Open-Sans-600/Open-Sans-600.woff2') format('woff2'),
    url('#{$fontDir}/Open-Sans-600/Open-Sans-600.woff') format('woff'),
    url('#{$fontDir}/Open-Sans-600/Open-Sans-600.ttf') format('truetype'),
    url('#{$fontDir}/Open-Sans-600/Open-Sans-600.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: italic;
  src: url('#{$fontDir}/Open-Sans-italic/Open-Sans-italic.eot');
  src: url('#{$fontDir}/Open-Sans-italic/Open-Sans-italic.eot?#iefix') format('embedded-opentype'),
    local('Open Sans Italic'),
    local('Open-Sans-italic'),
    url('#{$fontDir}/Open-Sans-italic/Open-Sans-italic.woff2') format('woff2'),
    url('#{$fontDir}/Open-Sans-italic/Open-Sans-italic.woff') format('woff'),
    url('#{$fontDir}/Open-Sans-italic/Open-Sans-italic.ttf') format('truetype'),
    url('#{$fontDir}/Open-Sans-italic/Open-Sans-italic.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  font-style: normal;
  src: url('#{$fontDir}/Raleway/Raleway-regular.eot');
  src: url('#{$fontDir}/Raleway/Raleway-regular.eot?#iefix') format('embedded-opentype'),
    local('Raleway'),
    local('Raleway-regular'),
    url('#{$fontDir}/Raleway/Raleway-regular.woff2') format('woff2'),
    url('#{$fontDir}/Raleway/Raleway-regular.woff') format('woff'),
    url('#{$fontDir}/Raleway/Raleway-regular.ttf') format('truetype'),
    url('#{$fontDir}/Raleway/Raleway-regular.svg#Raleway') format('svg');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  font-style: normal;
  src: url('#{$fontDir}/Raleway/Raleway-700.eot');
  src: url('#{$fontDir}/Raleway/Raleway-700.eot?#iefix') format('embedded-opentype'),
     local('Raleway Bold'),
     local('Raleway-700'),
     url('#{$fontDir}/Raleway/Raleway-700.woff2') format('woff2'),
     url('#{$fontDir}/Raleway/Raleway-700.woff') format('woff'),
     url('#{$fontDir}/Raleway/Raleway-700.ttf') format('truetype'),
     url('#{$fontDir}/Raleway/Raleway-700.svg#Raleway') format('svg');
}

@font-face {
  font-family: 'Rawline';
  font-weight: 400;
  font-style: normal;
  src: url('#{$fontDir}/Rawline/rawline-400.eot');
  src: url('#{$fontDir}/Rawline/rawline-400.eot?#iefix') format('embedded-opentype'),
    local('Raleway'),
    local('Raleway-regular'),
    url('#{$fontDir}/Rawline/rawline-400.woff2') format('woff2'),
    url('#{$fontDir}/Rawline/rawline-400.woff') format('woff'),
    url('#{$fontDir}/Rawline/rawline-400.ttf') format('truetype'),
    url('#{$fontDir}/Rawline/rawline-400.svg') format('svg');
}

@font-face {
  font-family: 'Rawline';
  font-weight: 400;
  font-style: italic;
  src: url('#{$fontDir}/Rawline/rawline-400i.eot');
  src: url('#{$fontDir}/Rawline/rawline-400i.eot?#iefix') format('embedded-opentype'),
    local('Raleway'),
    local('Raleway-regular'),
    url('#{$fontDir}/Rawline/rawline-400i.woff2') format('woff2'),
    url('#{$fontDir}/Rawline/rawline-400i.woff') format('woff'),
    url('#{$fontDir}/Rawline/rawline-400i.ttf') format('truetype'),
    url('#{$fontDir}/Rawline/rawline-400i.svg') format('svg');
}

@font-face {
  font-family: 'Rawline';
  font-weight: 700;
  font-style: normal;
  src: url('#{$fontDir}/Rawline/rawline-700.eot');
  src: url('#{$fontDir}/Rawline/rawline-700.eot?#iefix') format('embedded-opentype'),
     local('Raleway Bold'),
     local('Raleway-700'),
     url('#{$fontDir}/Rawline/rawline-700.woff2') format('woff2'),
     url('#{$fontDir}/Rawline/rawline-700.woff') format('woff'),
     url('#{$fontDir}/Rawline/rawline-700.ttf') format('truetype'),
     url('#{$fontDir}/Rawline/rawline-700.svg') format('svg');
}

@font-face {
  font-family: 'Rawline';
  font-weight: 700;
  font-style: italic;
  src: url('#{$fontDir}/Rawline/rawline-700i.eot');
  src: url('#{$fontDir}/Rawline/rawline-700i.eot?#iefix') format('embedded-opentype'),
     local('Raleway Bold'),
     local('Raleway-700'),
     url('#{$fontDir}/Rawline/rawline-700i.woff2') format('woff2'),
     url('#{$fontDir}/Rawline/rawline-700i.woff') format('woff'),
     url('#{$fontDir}/Rawline/rawline-700i.ttf') format('truetype'),
     url('#{$fontDir}/Rawline/rawline-700i.svg') format('svg');
}
