/* ---------------
    Generics
--------------- */
ol,
ul {
    padding-left: 2em;
    margin-bottom: 1.25rem;
}

ol ul,
ul ul {
    list-style-type: circle;
}

dl dt {
    margin-bottom: 0;
    font-weight: 700;
}

dl dd {
    margin-bottom: .75rem;
}

/*
    This is targeting any unordered/ordered list that has a paragraph
    as a sibling. This is to mimimize the space between a paragraph
    with a list next to it.
*/
p + ol,
p + ul {
    margin-top: -.75em;
}

/* -------------------
    List Variations
-------------------- */
/* lists with parentheses */
.ontario-list__bullet--parentheses {
    counter-reset: a;
    padding-left: 1.5rem;
}

.ontario-list__bullet--parentheses li {
    list-style: none;
    padding-left: 1rem;
}

.ontario-list__bullet--parentheses li:before {
    counter-increment: a;
    position: absolute;
    margin-left: -3rem;
    width: 2.5rem;
    text-align: right;
}

// double parentheses
.ontario-list__parentheses--double li:before {
    content: "(" counter(a,decimal) ") ";
}

    /* alpha bullets */
    .ontario-list__parentheses--double[type="a"] li:before {
        content: "(" counter(a,lower-alpha) ") ";
    }

    /* roman numeral bullets */
    .ontario-list__parentheses--double[type="i"] li:before {
        content: "(" counter(a,lower-roman) ") "
    }

// single parentheses
.ontario-list__parentheses--right li:before {
    content: counter(a,decimal) ") ";
}

    /* alpha bullets */
    .ontario-list__parentheses--right[type="a"] li:before {
        content: counter(a,decimal) ") ";
    }

    /* roman numeral bullets */
    .ontario-list__parentheses--right[type="i"] li:before {
        content: counter(a,lower-roman) ") "
    }


/* fancy list */
.ontario-list__bullet--fancy {
    counter-reset: a;
    margin-left: 5.5rem;
}

.ontario-list__bullet--fancy li {
    list-style-type: none;
    min-height: 4rem;

    &>:first-child {
        margin-top: -4rem;
    }

    &:before {
        border-radius: 3rem;
        color: $ontario-white;
        content: counter(a);
        counter-increment: a;
        display: block;
        font-family: Raleway,Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
        font-size: 3.5rem;
        font-weight: 700;
        height: 4.2rem;
        line-height: 1;
        margin-left: -5.5rem;
        text-align: center;
        width: 4.2rem;
    }
}

/*
    This adds extra min-height to fancy list items in Firefox,
    which prevents the bullets from touching.
*/
@-moz-document url-prefix() {
    .ontario-list__bullet--fancy li {
        min-height: 5rem;
    }
}

/* bullet color variations */
.ontario-list__bullet--fancy[bullet-color="ontario--list__bullet--fancy-blue"] li:before {
    background-color: $ontario-fancy-list-bullet-blue;
}

.ontario-list__bullet--fancy[bullet-color="ontario--list__bullet--fancy-yellow"] li:before{
    background-color: $ontario-fancy-list-bullet-yellow;
    color: $ontario-black;
}

.ontario-list__bullet--fancy[bullet-color="ontario--list__bullet--fancy-orange"] li:before {
    background-color: $ontario-fancy-list-bullet-orange;
}

.ontario-list__bullet--fancy[bullet-color="ontario--list__bullet--fancy-red"] li:before {
    background-color: $ontario-fancy-list-bullet-red;
}

.ontario-list__bullet--fancy[bullet-color="ontario--list__bullet--fancy-magenta"] li:before {
    background-color: $ontario-fancy-list-bullet-magenta;
}

.ontario-list__bullet--fancy[bullet-color="ontario--list__bullet--fancy-purple"] li:before {
    background-color: $ontario-fancy-list-bullet-purple;
}

.ontario-list__bullet--fancy[bullet-color="ontario--list__bullet--fancy-green"] li:before {
    background-color: $ontario-fancy-list-bullet-green;
}


/* inline/horizontal lists */
.ontario-list--inline {
    list-style: none;
    margin: 0 0 1.0625rem 0;
    overflow: hidden;
    padding: 0;
}

.ontario-list--inline li {
    display: block;
    float: left;
    list-style: none;
    margin: 0 0 .625rem 0;
}

/* lists with no bullets */
.ontario-list--no-bullet {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* legal lists */
.ontario-list--legal,
.ontario-list--legal ol {
    counter-reset: item;
    margin: 0;
}

.ontario-list--legal > li,
.ontario-list--legal ol > li {
    display: table;
    margin-bottom: 0.3em;
}

.ontario-list--legal > li:before,
.ontario-list--legal ol > li:before {
    display: table-cell;
    content: counters(item, ".") ". ";
    counter-increment: item;
    padding-right: 0.6em;
}

.ontario-list--legal-double-parentheses li:before,
.ontario-list--legal-double-parentheses ol li:before {
    content: "(" counters(item, ".") ") ";
}

.ontario-list--legal-single-parentheses li:before,
.ontario-list--legal-single-parentheses ol li:before {
    content: counters(item, ".") ") ";
}
