//Settings
$ods-medium-gray: #666;
$ods-light-gray: #737373;

//Generics
$ods-font-color: $body-font-color;
$ods-panel-font-color: #333;
$ods-panel-dark-font-color: #fff;
$ods-panel-dark-link-color: #d1ddeb;

//Elements
$ods-link-color: $anchor-color;

//Components
$ods-bg-header: #333;

$ods-bg-footer: #ededed;
$ods-border-footer: #d9d9d9;

$ods-panel-border: rgba(0,0,0,.1);
$ods-panel-aside-bg: #f5f5f5;
$ods-panel-callout-bg: #dff3f3;
$ods-panel-warning-bg: #fafad2;
$ods-panel-success-bg: #e6fad2;
$ods-panel-error-bg: #fad2d2;
$ods-panel-dark-bg: #4d4d4d;

