/* ---------------
    Components       
--------------- */
$ontario-standard-component-padding: .9375rem;
$ontario-infographic-component-padding--large: .75rem;
$ontario-infographic-component-padding--medium: .375rem;
$ontario-infographic-component-padding--small: .625rem;
