/* margins */
.ontario-margin--top-double {
    margin-top: 2rem;
}

.ontario-margin--top-half {
    margin-top: .5rem;
}

.ontario-margin--left-double {
    margin-left: 2rem;
}

.ontario-margin--left-half {
    margin-left: .5rem;
}

.ontario-margin--none {
    margin: 0;
}

.ontario-margin--bottom-double {
    margin-bottom: 2rem;
}

.ontario-margin--bottom-half {
    margin-bottom: .5rem;
}

.ontario-margin--right-double {
    margin-right: 2rem;
}

.ontario-margin--right-half {
    margin-right: .5rem;
}


/* padding */
.ontario-padding--top-double {
    padding-top: 2rem;
}

.ontario-padding--top-half {
    padding-top: .5rem;
}

.ontario-padding--left-double {
    padding-left: 2rem;
}

.ontario-padding--left-half {
    padding-left: .5rem;
}

.ontario-padding--none {
    padding: 0;
}

.ontario-padding--bottom-double {
    padding-bottom: 2rem;
}

.ontario-padding--bottom-half {
    padding-bottom: .5rem;
}

.ontario-padding--right-double {
    padding-right: 2rem;
}

.ontario-padding--right-half {
    padding-right: .5rem;
}
