/* -------------------------------
    Custom Helper Functions
--------------------------------- */

@mixin ontario-header-calc($type){
  font-size: rem-calc(map-get(map-get(map-get($header-styles, 'small'), $type), 'font-size'));
  @include breakpoint(medium){
    font-size: rem-calc(map-get(map-get(map-get($header-styles, 'medium'), $type), 'font-size'));
  }
}

@mixin ontario-button-color($bg-color: $ontario-button-primary, $hover-bg-color: $ontario-button-primary-hover, $text-color: $ontario-button-primary-text-color) {
  background: $bg-color;
  border: 0 solid $hover-bg-color;
  color: $text-color;

  &:active,
  &:focus,
  &:hover {
      background: $hover-bg-color;
      color: $text-color;
  }
}

@mixin ontario-label-color($bg-color, $text-color) {
  background: $bg-color;
  color: $text-color;
}
