/* -----------------------------------------------------------------------------

  Please see /standards/architecture.md for standards on how to write CSS for
  this project.

----------------------------------------------------------------------------- */
//
@import "./1-settings/_foundation.settings";

@import "./2-tools/_foundation.includes";

.ods-grid-container {
  @extend .grid-container;
  border: 1px solid black; // @TODO: remove later;
}

.ods-grid-row {
  @extend .grid-x;
  border: 1px solid red; // @TODO: remove later;
}

.ods-grid-cell {
  @extend .cell;
  border: 1px solid blue; // @TODO: remove later;
}

header {

}

.ods-header {
  background: rgba(0, 0, 0, 0.2);
}
.ods-full-width {
  position: relative;
  &:before, &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    background: inherit;
  }
  &:before {
    width: 100vw;
    right: 100%;
  }
  &:after {
    width: 100vw;
    left: 100%;
  }
}
